<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>New Item</title>
</head>
<body>
    <div class="container">
<h1>New Item</h1>
<table>
    <form action="/budget" method="POST">
        <tr>
            <td><input type="text" name="date" placeholder="date"></input></td>
            <td><input type="text" name="name" placeholder="name"></input></td>
        </tr>
        <tr>
            <td><input type="text" name="amount" placeholder="amount"></input></td>
            <td><input type="text" name="from" placeholder="from"></input></td>
        </tr>
        <tr>
            <td><button>Create New Item</button></td>
        </tr>
    </form>
</table>
    </div>
</body>
</html>